# General
DATA_TRANSFER_BAUD=256
DATA_TRANSFER_UDP_HOST=localhost
DATA_TRANSFER_UDP_PORT=5005

# Modem mode
DATA_TRANSFER_SENDER_NUMBER=
DATA_TRANSFER_RECEIVER_NUMBER=
DATA_TRANSFER_MODEM_PORT=/dev/ttyS0
DATA_TRANSFER_MODEM_POWER_KEY=6
DATA_TRANSFER_MODEM_BAUD=115200
